#header {
    text-align: center;
    margin: 0 auto;
    border-bottom: black ridge;
  }
  form div img {
    height: 500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid wheat;
    border-style:double;
    border-radius: 20%;
    justify-content: center;
    display: flex;
  }
  img#header-img {
    box-sizing: border-box;
    border-style: double;
    border: 5px solid wheat;
    border-radius: 15%;
  }

body{
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    font: 50px georgia;
    font-weight: 200;
    margin: 0%;
}
form div[id] {
    float: right;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
button[type="submit"]:hover {
    background-color:tomato;
}
button[type="submit"]{
    border-style: outset; 
    border: 5px solid wheat;
    letter-spacing: 1px;
    border-radius: 20%;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font: bold;
    transition-duration: 0.4s;
    cursor:pointer;
}